body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:390px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:390px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_ann {
  border-width:0px;
  position:absolute;
  left:1393px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:110px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:30px;
  width:349px;
  height:110px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_ann {
  border-width:0px;
  position:absolute;
  left:377px;
  top:26px;
  width:1px;
  height:1px;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:30px;
  width:98px;
  height:40px;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u3_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u3.mouseOver {
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u3_ann {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:26px;
  width:1px;
  height:1px;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:30px;
  width:98px;
  height:40px;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4.mouseOver {
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u4_ann {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:26px;
  width:1px;
  height:1px;
}

#post-form {
  border-width:0px;
  position:absolute;
  left: 0px;
  top: 400px;
  width:1500px;
  text-align:center;
  font-size:28px;
}
#form-name {
  font-size:28px;
  text-align:left;
  height: 40px;
  width: 400px;
}
#form-suggest {
  font-size:28px;
  text-align:center;
  height: 120px;
  width: 800px;
}
#form-contact {
  font-size:28px;
  text-align:left;
  height: 40px;
  width: 400px;
}

