body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:relative;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:390px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:390px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_ann {
  border-width:0px;
  position:absolute;
  left:1393px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:30px;
  width:180px;
  height:60px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_ann {
  border-width:0px;
  position:absolute;
  left:377px;
  top:26px;
  width:1px;
  height:1px;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:30px;
  width:98px;
  height:40px;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u3_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u3.mouseOver {
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u3_ann {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:26px;
  width:1px;
  height:1px;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:30px;
  width:98px;
  height:40px;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4.mouseOver {
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u4_ann {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:26px;
  width:1px;
  height:1px;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:513px;
  width:175px;
  height:568px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:1338px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:414px;
  width:965px;
  height:1338px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:center;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:center;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u7_ann {
  border-width:0px;
  position:absolute;
  left:298px;
  top:509px;
  width:1px;
  height:1px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u8_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u8.mouseOver {
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u8_ann {
  border-width:0px;
  position:absolute;
  left:298px;
  top:579px;
  width:1px;
  height:1px;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u9_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u9.mouseOver {
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u10_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u10.mouseOver {
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u11_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u11.mouseOver {
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u12_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u12.mouseOver {
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u13_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u13.mouseOver {
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:368px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u14_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u14.mouseOver {
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:418px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u15_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u15.mouseOver {
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:468px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u16_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u16.mouseOver {
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:518px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u17_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u17.mouseOver {
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1081px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u18_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u18.mouseOver {
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1131px;
  width:175px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u19_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u19.mouseOver {
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:1077px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文宋体';
  font-style:normal;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:505px;
  width:1050px;
  height:1077px;
  font-family:'华文宋体';
  font-style:normal;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  word-wrap:break-word;
}
#u20_ann {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:631px;
  width:1px;
  height:1px;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:421px;
  width:241px;
  height:58px;
  font-family:'方正粗黑宋简体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u21_text2 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:23px;
  width:200px;
  font-weight:100;
  font-size:24px;
  color: blue;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:2px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:479px;
  width:965px;
  height:1px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:526px;
  width:92px;
  height:37px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:573px;
  width:116px;
  height:47px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}

th {
	width: 175px;
	font-size: 28px;
	padding-left: 16px;
	padding-right: 16px;
}
td {
	font-size: 28px;
	padding-left: 16px;
	padding-right: 16px;
}

